<% provide(:title, 'All Users') %>
<h1>ユーザー一覧</h1>

<div>
  <%= form_tag  import_users_path,  method: :post, multipart: true do |f| %>
    <div class="search_item">
      <%= button_tag 'ファイルを選択', class: %i(csv_input_btn), type: 'button', onclick: "$('#file_input').click();" %>
      <%= text_field_tag 'filename',"", id: "filename", disabled: true %>
      <%= file_field_tag 'csv_file', id: "file_input", style: "display: none;", onchange: "file_selected($(this));" %>
    </div>
    <div>
      <button type="submit" class="btn btn-primary btn-import">CSVインポート</button>
    </div>
  <% end %>
</div>

<script type="text/javascript">
  function file_selected(file_field){
    var filename = $(file_field)[0].files[0].name;
    $("#filename").val(filename);
  }
</script>
 
   
   
<div class="col-md-10 col-md-offset-1"> 
 
</div> 


<div class="col-md-10 col-md-offset-1">
  <%= will_paginate %>
  <table class="table table-condensed table-hover" id="table-users">
    <thead>
      <tr>
        <th><%= User.human_attribute_name :name %></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <% @users.each do |user| %>
      <tr>
        <td>   
          <% if current_user.admin? %>
           <%= link_to user.name, user %>
          <th><%= link_to "編集", edit_basic_info_user_path(user), remote: true, class: "btn btn-primary" %></th>
          <th><%= link_to "削除", user, method: :delete,  data: { confirm: "削除してよろしいですか？" }, class: "btn btn-primary" %></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <% else %>
            <%= user.name %>
          <% end %>
        </td>
       
        <td class="center">
          <% if current_user.admin? && !current_user?(user) %>
            
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
  <%= will_paginate %>
</div>

<!--モーダルウインドウ表示-->
<div id="edit-basic-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>