<% provide(:title, '拠点一覧') %>
<div class=center>
  <h1>拠点一覧</h1>
   <table  border=2 width=100%, class="table table-bordered table-condensed user-table">
     <thead>
    　<tr>
    　  <th></th>
    　  <th></th>
    　 <th>拠点番号</th>
    　 <th>拠点地</th>
    　 <th>拠点種類</th>
    　</tr>
  　</thead> 
  　
  　 <tbody>
    　<tr>
    　　 <th><%=link_to "編集", '#', class: "btn btn-info" %></th>
    　 <th><%=link_to "削除", '#', class: "btn btn-info" %></th>
    　 <th><%= number_field :text, class: "form-control" %></th>
       <th><%= text_field :note, class: "form-control" %></th>   
    　 <th><div class="form-group">
              <select prompt="選択してください" class="form-control" required="required" name="user[position]" id="user_position">
                <option value="">選択してください</option>
                <option selected="selected" value="1">出勤</option>
                <option value="2">退勤</option>
              </select>
        </th>
    　
     </tr>
     
     <tr>
    　　 <th><%=link_to "編集", '#', class: "btn btn-info" %></th>
    　 <th><%=link_to "削除", '#', class: "btn btn-info" %></th>
    　 <th></th>
    　 <th></th>
    　 <th></th>
     </tr>
     
     <tr>
       <th><%=link_to "拠点情報追加", '#', class: "btn btn-info" %></th
     </tr>   
     
  　</tbody> 