<% provide(:class_text, 'month-request') %>
<% provide(:button_text, '1か月の変更申請') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>  
    <div class="modal-body">
      <%= form_with(model: @user, url: update_month_request_user_attendances_path(@user), local: true, method: :patch) do |f| %> 
        <% @month_requesters.each do |user_id, attendances| %>
          <h1 class="modal-title">【<%= "#{User.find(user_id).name}" %>から勤怠変更申請】</h1>
            <table border=2 width=100%, class="table table-bordered table-condensed user-table">
              <thead>
                <tr>
                  <th rowspan = "2">日付</th>
                  <th rowspan = "2">曜日</th>
                  <th colspan = "2">変更前</th>
                  <th colspan = "2">変更後</th>
                  <th rowspan = "2">備考</th>
                  <th rowspan = "2">指示者確認㊞</th>
                  <th rowspan = "2">変更</th>
                  <th rowspan = "2">勤務を確認する</th>
                </tr>
                <tr>
                  <th>出社</th>
              　   <th>退勤</th>
              　   <th>出社</th>
              　   <th>退勤</th> 
              　</tr>
              </thead>
              <% attendances.each do |day| %>
                <%= f.fields_for "attendances[]", day do |at| %>
                  <tbody>
                    <% 
                      css_class = 
                      case %w{日 月 火 水 木 金 土}[day.worked_on.wday]
                      when '土'
                        'text-primary'
                      when '日'
                        'text-danger'
                      end
                    %> 
                   <tr>
                      <td><%= l(day.worked_on, format: :short) %></td>
                      <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[day.worked_on.wday] %></td>
                      <td><%= l(day.started_at, format: :convinient_time ) if day.started_at.present? %></td>
                      <td><%= l(day.finished_at, format: :time) if day.finished_at.present? %></td>  
                      <td><%= l(day.restarted_at, format: :convinient_time) %> </td>
                      <td><%= l(day.refinished_at, format: :convinient_time) %></td>
                      <td><%= at.text_field :note, class: "form-control" %></td>
                      <td><%= at.select :month_status, ['', 'なし', '申請', '承認', '否認'], class: "form-control" %></td>
                      <td><%= at.check_box :month_checker %></td>
                      <td><%= link_to "確認", comfirmation_user_path(user_id, day: day.worked_on), method: :get, class: "btn btn-primary btn-lg btn-block" %></td>
                   </tr>  
                  </tbody>
                <% end %>
              <% end %>
           </table>
        <% end %>
      　<%= f.submit "変更を送信する", class: "btn btn-primary btn-lg btn-block" %>
      <% end %> 
    </div>
  </div> 
</div> 