<% provide(:class_text, 'overtime-request') %>
<% provide(:button_text, '残業申請') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    
    <div class="modal-body">
      <table  border=2 width=100%, class="table table-bordered table-condensed user-table">
       <thead>
        
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>翌日</th>
          <th>業務処理内容</th>
          <th>指示者確認㊞</th>
        </tr>
       </thead>
       
      <tbody> 
            <% 
              css_class = 
              case %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday]
              when '土'
                'text-primary'
              when '日'
                'text-danger'
              end
            %> 
        <tr>
          <td><%= l(@attendance.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday] %></td>
          <td>
             <%= f.time_select%>  
          </td>
          <td><%= check_box(checked_value = "1", unchecked_value = "0") %></td>
          <td></td>
          <td></td>
        </tr>  
      </tbody>    
      
     </ttable> 
     <div class="center">
       <buttn type="buttn" class:="btn btn-lg btn-primary  btn-block" >残業を申請する</buttn>
     </div> 
      
     
        
            
            
                  
            