<% provide(:class_text, 'overtime-request') %>
<% provide(:button_text, '残業申請') %>

<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    
    <div class="modal-body">
      <table  border=2 width=100%, class="table table-bordered table-condensed user-table">
       <thead>
        
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>翌日</th>
          <th>業務処理内容</th>
          <th>指示者確認㊞</th>
        </tr>
       </thead>
       
      <tbody
            <% 
              css_class = 
              case %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday]
              when '土'
                'text-primary'
              when '日'
                'text-danger'
              end
            %> 
           <%= form_with(model: @attendance, local: true) do |f| %> 
        <tr> 
          <td><%= l(@attendance.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday] %></td>
          <td><%= f.time_select :overtime.hour, class: "form-control" %>:</td>
              <%= f.time_select :overtime.min, class: "form-control" %>  
          </td>
          <td><%= f.check_box(checked_value = "1", unchecked_value = "0") %></td>
          <td><% text_field :note, class: "form-control" %></td>
          <td><%= f. %>/td>
         
        </tr>  
      </tbody>    
      
      <tfoot>
        <%= f.submit "残業を申請する", class: "btn btn-primary btn-block" %>
      </tfoot>
       <% end %>
     </ttable> 
    
      
     
        
            
            
                  
            