<% provide(:class_text, 'overtime-request') %>
<% provide(:button_text, '残業申請') %>


<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【残業申請】</h1>
    </div>
    
    <div class="modal-body">
      <table  border=2 width=100%, class="table table-bordered table-condensed user-table">
       <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>終了予定時間</th>
          <th>翌日</th>
          <th>業務処理内容</th>
          <th>指示者確認㊞</th>
        </tr>
       </thead>
       
     　 <tbody>
         <%= form_with(model: @attendance, url: overtime_request_user_attendance_path, local: true) do |f| %>

            <% 
              css_class = 
              case %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday]
              when '土'
                'text-primary'
              when '日'
                'text-danger'
              end
            %> 
        
       　 <tr> 
          <td><%= l(@attendance.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday] %></td>
          <td><% f.label :overtime, class: 'control-label' %>
              <%= f.time_select :overtime, class: "form-control" %>
          </td>    
          <td><%= check_box(checked_value = "1", unchecked_value = "0") %></td>
          <td><% f.label :task_menu, class: 'control-label' %>
              <%= f.text_field :task_menu, class: "form-control" %>
          </td>
          <td>
            <select id="page_name" name="page[name]">
              <option value="1">上長A</option>
              <option value="2">上長B</option>
　　　　　  </select><br>
　　　　　</td>
       　 </tr>  
      　</tbody>    
      
      　<tfoot>
         <tr>  
          <td><%= f.submit "残業を申請する", class: "btn btn-primary btn-block" %></td>
         </tr>  
        </tfoot>
       <% end %>
      </table> 
  　 </div> 
 　 </div> 
 </div>  
    
      
     
        
            
            
                  
            